*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:  #0D0C22;
    color: white;
    font-family: 'Poppins', sans-serif;

}
.alag{
    color: #9E9EA7;
    margin-top: -10px;
    margin-left: 6px;
}
#centerConsole{
   color:  #0D0C22;    
}
#layOver{
    color: white;
}
#time{
    display: flex;
    justify-content: center;
    flex-shrink:1 ;
}
@media screen and (max-width:550px){
    #time{
        flex-direction: column;
        align-items: center;
    }
}