*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.collection{
    display: flex;
    justify-content: center;
    align-items: center;
     height: 100vh;
}
#leftSide{
    height: 70%;
    flex: 0.4;
    background:url("https://img.freepik.com/free-vector/blank-purple-patterned-background-vector_53876-77833.jpg?t=st=1648710843~exp=1648711443~hmac=da0028136a13b9d5dc21add64ab4cd7612b0446f8379a90233cfdb040ffb4295&w=740");
    color: white;
   
}
#readmore:hover{
 opacity: 0.8!important;
 cursor: pointer;
}
#leftSide>h1{
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}
.button{
    background: #68d4ba;
    text-decoration: none;
    cursor: pointer;

    color: white;
    letter-spacing: 4px;
    font-weight: 700;
    margin:15px 10px ;
    padding: 14px 30px ;
    border-style: none;
    border-radius: 25px;
    border-color: #68d4ba ;
}
.button:hover{
    border-color: white ;
    color: #111111;
}
#rightSide{
    height: 70%;
    flex: 0.4;
    
    background: #eff2f4;
    
}
#rightSide>img{
    height: 100%;
    width:100%;

}
@media screen and (max-width:800px){
    .collection{
        flex-direction: column;
        height: min-content;
        
    }
    #leftSide{ 
        width: 90%;
    }

    #rightSide{
        width: 90%;
        
    }
    .button{
        font-size: 12px;
        letter-spacing: 2px;
    }
}
@media screen and (max-width:450px){
    #leftSide{
        width: 94%;
    }

    #rightSide{
        width: 94%;
    }  
    .button{
        font-size: 11px;
        letter-spacing: 1px;
        padding: 14px 25px;
        text-align: center;
    }
}


.main{
    background:  #0D0C22;
    display: flex;
    align-items: center;
    width: 100%;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.leftSide{
 flex: 35%;
 justify-content: space-evenly;
}
.rightSide{
    flex: 65%;
    background-color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.option:focus{
    outline: none!important;
    border: none!important;
}

#time{
    display: flex;
    justify-content: center;
    flex-shrink:1 ;
}
@media screen and (max-width:900px) {
   
   
   .leftSide{
       display: none;
   }
  
   .rightsideint{
   background: white;
}
    
}
@media screen and (max-width:550px) {
   .rightsideint{
       width: 90%;
   }
   #dest{
       flex-direction: column;
   }
    #time{
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width:400px) {
   .rightsideint{
       width: 100%;
   }
   .rightSide{
    background:white ;
    
}
   
}